<div class="top-bar">
    <div class="header-nav-agileits">

        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="/">Mital
                        <span>Digital marketing</span>
                    </a>
                </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="top_nav">
                        <li>
                            <a href="/" {{#if home}}class="active"{{/if}}>Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">What We Do
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/services">overview</a>
                                </li>
                                <li class="dropdown-submenu">
                                  <a class="test" tabindex="-1" href="#">Design<span class="fa fa-angle-down"></span></a>
                                  <ul class="dropdown-menu">
                                      <li><a href="/what-we-do/res-web-design">Responsive website Design</a></li>
                                      <li><a href="/services">UI/UX Design</a></li>
                                      <li><a href="/what-we-do/mobile-app-development">Mobile Application Design</a></li>
                                  </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Marketing
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/services">Online Advertising</a></li>
                                        <li><a href="/services">Email Marketing</a></li>
                                        <li><a href="/services">Social Media Marketing</a></li>
                                        <li><a href="/services">Search Engine Optimisation</a></li>
                                        <li><a href="/services">Search Engine Marketing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/courses" {{#if courses}}class="active"{{/if}}> Why Squirrel</a>
                        </li>
                        <li>
                            <a href="/contact" {{#if contact}}class="active"{{/if}}>Get In Touch</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">About Us
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/about/about-us">about-us</a></li>
                                <li><a href="/about/team">our team</a></li>
                                <li><a href="/about/faq">FAQ</a></li>
                                <li><a href="/about/contact">Contact us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>

    </div>
</div>