<div class="header inner_banner" id="home">
    <!--/top-bar-->
    {{>top_bar}}
</div>

<div class="top_spl_courses">
    <div class="container">
        <h3 class="header">Mobile App Development</h3>
        <div class="inner_sec">
            <div class="col-md-12 edu-left">
                <p class="paragraph">We create mobile applications across iOS and Android to help you 
                    engage and interact with your customers. Our programmers and partners have the knowledge and skills to support your needs on this front. We go beyond creating applications – we build strategies to maximise your reach.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<div class="top_spl_courses">
    <div class="container">
        <div class="inner_sec">
            <div class="col-md-12 edu-left">
                <h3 class="header">From concept to app store.</h3>
                <p class="paragraph">
                    Achieve results with a custom mobile app
                    We have developed expertise in developing wide range of mobile and tablet applications
                </p>
                <p class="paragraph two">
                     Squirrel offers comprehensive mobility solutions, developing customized mobile and tablet apps catering to unique requirements of each brand and business. With growing popularity of smartphones and technology advancement, it has become essential for business to offer smooth mobile experiences to their customers. Squirrel helps clients in understanding end-users, competitive analysis, UI design & architecture, prototyping, testing, launch, and promotion.
                </p>
                <a class="req-free-quote" href="#" data-toggle="modal" data-target="#myModal3">Get In Touch</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">

                    {{!--
                    <div class="login-m_page_img">

                        <img src="images/model.jpg" alt=" " class="img-responsive" />

                    </div> --}}
                    <div class="login-m_page" style="width:100%">
                        <h3 class="sign">Sign Up</h3>
                        <div class="login-form">
                            <form action="#" method="post">
                                <label for="email">Name*</label>
                                <input type="text" name="name" placeholder="Username" required="">
                                <label for="company">Company Name</label>
                                <input type="text" name="company_name" placeholder="Company name">

                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="Email" required>
                                 
                                <label for="mobile_no">Phone Number</label>
                                <input type="text" name="mobile_no" placeholder="Phone Number" required>

                                <label for="mobile_no">Select a service(desired Service)</label>
                                <select class="form-control form-control-sm">
                                    <option>PPC</option>
                                    <option>SEO</option>
                                    <option>Social media optimisation</option>
                                    <option>Social media marketing</option>
                                    <option>web Development</option>
                                    <option>Mobile app development</option>
                                </select>
                                <input type="submit" value="Process my request">
                            </form>
                        </div>
                        {{!-- <p>
                            <a href="#"> By clicking Sign up, I agree to your terms</a>
                        </p> --}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <h3 class="header">Our team of experts design and develop high-end mobile apps, which include features like</h3>
        <div class="inner_sec">
            <div class="col-md-6 grid_info_main">
                <div class="grid_info">
                    <div class="icon_info">
                        <span class="fa fa-mobile" aria-hidden="true"></span>
                        <h5>Reliable look & feel as per main website</h5>
                        
                    </div>
                </div>
                <div class="grid_info second">
                    <div class="icon_info">
                        <span class="fa fa-database" aria-hidden="true"></span>
                        <h5>Database Driven Content</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid_info_main">
                <div class="grid_info">
                    <div class="icon_info">
                        <span class="fa fa-wrench" aria-hidden="true"></span>
                        <h5>Integration with main website for automated updates</h5>
                        
                    </div>
                </div>
                <div class="grid_info second">
                    <div class="icon_info">
                        <span class="fa fa-spinner" aria-hidden="true"></span>
                        <h5>Minimum loading time</h5>
                    </div>
                </div>
            </div>
         

            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="top_spl_courses">
    <div class="container">
        <div class="inner_sec">
            <div class="col-md-12 edu-left">
                <p class="paragraph">
                    We offer advanced mobile and tablet application development services and our team of developers, graphic designers and usability experts makes sure that your app incorporates all latest features suited for the particular app genre.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


