<div class="header inner_banner" id="home">
    <!--/top-bar-->
    {{>top_bar}}
</div>

<div class="top_spl_courses">
    <div class="container">
        <h3 class="header">Responsive website design</h3>
        <div class="inner_sec">

            <div class="col-md-6 edu-left">
                <h4 class="sub-hdng two">For Your Digital Life</h4>
                <p class="paragraph">Accessing the internet has gone beyond the realm of desktops and laptops. Mobiles and tablets are equally
                    important tools and most people prefer to browse while on the move. This is where our expertise in responsive
                    web design helps your brand maintain its identity and keep its communication ethos intact, whatever the
                    device.</p>
            </div>
            <div class="col-md-6 edu_img">
                <img src="/images/stretch.jpg" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="top_spl_courses">
    <div class="container">
        <div class="inner_sec">
            <div class="col-md-6 edu-left">
                <h3 class="header">Make a stunning first impression.</h3>
                <p class="paragraph">Hire our web design agency and treat yourself. Your website is often your first and only chance to make a
                    good impression when someone finds you online. It takes a lot of time and effort to make a good first
                    impression.Whether you're looking for an aesthetically pleasing showcase of your best work or a helpful
                    and intuitive website espousing the benefits you bring to the table, our design team is ready to create
                    your beautifully interactive SEO-friendly website.</p>
                <a href="/about/contact" class="req-free-quote">Request a Free Quote</a>
            </div>
            <div class="col-md-6 edu_img">
                <img src="/images/stretch.jpg" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="top_spl_courses">
    <div class="container">
        <div class="inner_sec">
            <div class="col-md-6 edu-left">
                <h3 class="header">Responsive Web Design</h3>
                <p class="paragraph">Excel in Performance & Flexibility It is crucial to build a website that not only conveys the right message
                    to the buyer, but conveys it regardless of how they arrive. We leverage responsive strategies to adjust
                    visual elements leading to greater conversion rates. This ensures a consistent approach across desktop,
                    tablet, and mobile platforms.</p>
                <a href="/about/contact" class="req-free-quote">Learn More</a>
            </div>
            <div class="col-md-6 edu_img">
                <img src="/images/stretch.jpg" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<div class="banner">
	<div class="container">
		<h2>What's the point if you can't be found?</h2>
		<p>Search engines have made it loud and clear that websites should both make it obvious what they are about and appeal to the average web user. We can achieve that gentle balance that places your website higher in the search rankings. We do this without compromising the look and feel of your website.</p><br/>
		<a href="#" class="start-now-btn">Start Now</a>
	</div>
</div>