<!--Header-->

<div class="header inner_banner" id="home">
    <!--/top-bar-->
    {{>top_bar}}
    <!--//top-bar-->
    <!--/ banner-text -->
</div>
<!--//inner_banner-->
<!--/short-->
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">

        <ul class="short">
            <li>
                <a href="index.html">Home</a>
                <span>|</span>
            </li>
            <li>About</li>
        </ul>
    </div>
</div>

<div class="banner_bottom">
    <div class="container">
        <h3 class="header">About Us</h3>

        <div class="inner_sec">
            <div class="ab_info">
                <img src="/images/banner1.jpg" alt=" " class="img-responsive">
                <h4>Volutpat purus viverra sit amet</h4>
                <p class="sub_p">Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu purus,
                    sit amet volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada congue
                    nunc ornare. Cum sociis In semper lorem eget tortor pulvinar ultricies.Quisque lacinia quam sed tortor
                    interdum, malesuada congue nunc ornare. Cum sociis In semper lorem eget tortor pulvinar ultricies.
                </p>
            </div>

            <div class="news-main">
                <div class="col-md-6 news-left">
                    <div class="col-md-6 b_left">
                        <img src="/images/g4.jpg" alt=" " class="img-responsive">

                    </div>
                    <div class="col-md-6 b_right">
                        <img src="/images/g1.jpg" alt=" " class="img-responsive">

                    </div>
                </div>
                <div class="col-md-6 news-right">
                    <h4>Our Mission</h4>
                    <p class="sub_p">Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu
                        purus, sit amet volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada
                        congue nunc ornare. Cum sociis In semper lorem eget tortor pulvinar ultricies.
                    </p>
                    <p>Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu
                        purus, sit amet volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada
                        congue nunc ornare. Cum sociis . In semper lorem eget tortor pulvinar ultricies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

